@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

.special {
  font-family:'Boogaloo','微軟正黑體','Microsoft Jhenghei',Arial, sans-serif;
}

.main{
  position: relative;
  margin-top: 0;
}

.kv img{
  width: 100vw;
}

.logo{
  width: 130px;
  position: absolute;
  top: 20px;
  left: 30px;
  padding: 11px 30px; 
}










/* --- mobile --- */
@media screen and (max-width: 1100px) {


}



@media (max-width: 768px) {

}



@media screen and (max-width: 640px) {

}


@media screen and (max-width: 460px) {

}




