@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

.special {
  font-family:'Boogaloo','微軟正黑體','Microsoft Jhenghei',Arial, sans-serif;
}

.bt_mb{
  display: contents;
}

.special_br{
  display: none;
}

.kv{
  width: 100vw;
  height: calc(89vh - 80px);
  position: relative;
  overflow: hidden;
}

.kv_main{
  width: 100%;
  height: calc(89vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.kv_main img{
  height: 100%;
}

.kv_text{
  position: absolute;
  top: 3%;
  left: 50%;
  height: 40%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.kv_text img{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  animation: sbjump 1.2s ease-in infinite;
}

@keyframes sbjump {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100%{
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.kv_product1{
  position: absolute;
  top: 30%;
  right: 75%;
  height: 25%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.kv_product1 img{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  -moz-transform: translate(-100px,-100px);
  -ms-transform: translate(-100px,-100px);
  -webkit-transform: translate(-100px,-100px);
  transform: translate(-100px,-100px);
  animation: lrjump 0.5s ease-out 0.8s both;
}

.kv_product2{
  position: absolute;
  top: 40%;
  left: 80%;
  height: 20%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.kv_product2 img{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  animation: rljump 0.5s ease-out 1s both;
}

@keyframes lrjump {
  0%{
    opacity: 0;
    -moz-transform: translate(-100px,-100px);
    -ms-transform: translate(-100px,-100px);
    -webkit-transform: translate(-100px,-100px);
    transform: translate(-100px,-100px);
  }

  50%{
    opacity:1;
  }

  100% {
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
}


@keyframes rljump {
  0%{
    opacity:0;
    -moz-transform: translate(100px,-100px);
    -ms-transform: translate(100px,-100px);
    -webkit-transform: translate(100px,-100px);
    transform: translate(100px,-100px);
  }

  50%{
    opacity:1;
  }

  100%{
    opacity:1;
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
}

.kv_people1{
  position: absolute;
  bottom: 5%;
  right: 60%;
  height: 40%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.kv_people1 img{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  animation: tbjump 1.5s cubic-bezier(0.62, 0.05, 0.42, 0.99) 0.5s infinite;
}

.kv_people2{
  position: absolute;
  bottom: 5%;
  left: 73%;
  height: 42%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.kv_people2 img{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  animation: tbjump 1.5s cubic-bezier(0.62, 0.05, 0.42, 0.99) 1s infinite;
}

@keyframes tbjump {
  0%{
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  50%{
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100%{
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.kv_wave{
  position: absolute;
  width: 30%;
}

.kvw1{
  top: 0;
  left: 0;
}

.kvw2{
  top: 0;
  right: 0;
}

.kvw3{
  bottom: 0;
  left: 0;
}

.kvw4{
  bottom: 0;
  right: 0;
}

/*----------activity----------*/

.activity{
  padding: 120px 0;
  background-color: #f5cb07;
  position: relative;
}

.activity_info{
  padding: 50px 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5em;
}

.activity_info span{
  font-weight: 600;
}

.activity_btbox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity_btbox li{
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 600;
  color: #7c590d;
  text-align: center;
  width: 200px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  margin: 0 30px;
}

.activity_btbox li:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #ffffff;
  z-index: -1;
}

.activity_btbox li:after{
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #bf9b11;
  z-index: -2;
}



/*----------prize----------*/

.prize{
  position: relative;
  padding: 100px 0 100px;
}

.prize_titlebox{
  position: relative;
  padding: 10px 0;
}

.prize_circle{
  position: absolute;
  top: 50%;
  left: 5%;
  display: inline-block;
  color: #ffffff;
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1.5em;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: #000000;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.prize_circle .special{
  font-size: 1.6em;
  vertical-align: middle;
}

.prize_circle .num{
  margin-right: 5px;
}

.prize_title{
  font-size: 1.5em;
  font-weight: 600;
  color: #7c590d;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 20px 0;
}

.prize_title:before{
  content: '';
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  border-radius: 60px;
  background-color: #ffffff;
  z-index: -1;
}

.prize_title:after{
  content: '';
  position: absolute;
  top: 10px;
  left: calc(10% + 5px);
  width: 80%;
  height: 100%;
  border-radius: 60px;
  background-color: #bf9b11;
  z-index: -2;
}

.prize_info{
  padding: 50px 0;
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.5em;
}

.prize_oil,
.prize_week{
  position: relative;
}

.oil_product{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.oil_pd:nth-child(1){
  width: 35%;
  margin-bottom: 50px;
}
.oil_pd:nth-child(2){
  width: 35%;
  margin-bottom: 50px;
}

.oil_pd{
  width: 33.333%;
}

.oil_pd img{
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.oil_name,
.week_name{
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  font-weight: 600;
}

.oil_sticker{
  font-size: 0.8rem;
  line-height: 0.5em;
}

.oil_small,
.week_small{
  font-size: 0.8rem;
}

.week_product{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 50px;
}

.week_pd{
  width: 23%;
  margin: 0 auto;
}

.week_pd img{
  width: 200px;
  margin: auto;
}

.week_name .hightlight{
  background-color: #f5cb07;
  border-radius: 50px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.oil_name .hightlight{
  display: inline-block;
  background-color: #f5cb07;
  border-radius: 50px;
  padding: 10px 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.wave{
  position: absolute;
}

.wave img{
  width: 100%;
}

.w1{
  width: 20%;
  top: 50px;
  left: 0;
}

.w2{
  width: 25%;
  bottom: -150px;
  right: 0;
}

.w3{
  width: 25%;
  top: 20%;
  left: 0;
}

.w4{
  width: 20%;
  top: -10%;
  right: 0;
}

.w5{
  width: 25%;
  bottom: 0;
  left: 0;
}

.w6{
  width: 25%;
  bottom: 0;
  right: 0;
}

.l1{
  width: 20%;
  top: 20%;
  right: 5%;
}

.p1{
  width: 20%;
  top: 15%;
  left: 5%;
}

.p2{
  width: 20%;
  top: 40%;
  right: 2%;
}

.week_btbox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.week_btbox li{
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 600;
  color: #7c590d;
  text-align: center;
  width: 200px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  margin: 0 50px;
}

.week_btbox li:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #ffffff;
  z-index: -1;
}

.week_btbox li:after{
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #bf9b11;
  z-index: -2;
}

.o1{
  width: 8%;
  top: 10%;
  right: 10%;
}

.o2{
  width: 10%;
  bottom: 10%;
  left: 5%;
}

.o3{
  width: 12%;
  top: 65%;
  left: 3%;
}

.o4{
  width: 23%;
  top: 5%;
  left: 3%;
}

.o5{
  width: 8%;
  top: -30%;
  right: 5%;
}

.o6{
  width: 8%;
  bottom: 8%;
  right: 8%;
}





/* --- mobile --- */
@media screen and (max-width: 1300px) {
  .kv_main img{
    height: 90%;
  }

  .kv_product1{
    height: 20%;
    top: 35%;
    right: 80%;
  }

  .kv_product2{
    height: 15%;
    top: 45%;
    left: 85%;
  }

  .w4{
    top: 15%;
  }

  .o2{
    bottom: unset;
    top: 15%;
    left: 12%;
  }

  .o3{
    top: 55%;
  }

  .o4{
    top: 10%;
    left: 0;
  }

  .o5{
    top: -15%;
  }

  .o6{
    bottom: 0;
  }

}

@media screen and (max-width: 1100px) {
  .kv_text{
    top: 5%;
  }

  .kv{
    height: calc(89vh - 60px);
  }

  .kv_main{
    height: calc(89vh - 60px);
  }

  .kv_main img{
    height: 80%;
  }

  .kv_people1{
    right: 55%;
  }

  .kv_people2{
    left: 75%;
  }

  .activity{
    padding: 80px 0;
  }
}

@media screen and (max-width: 1000px) {
  .special_br{
    display: block;
  }

  .bt_mb{
    display: none;
  }

  .activity{
    padding: 50px 0;
  }

  .activity_info{
    font-size: 1.2em;
    padding: 20px;
  }

  .activity_btbox li{
    font-size: 1.1em;
    width: 100px;
    margin: 20px;
    padding: 5px 20px;
  }

  .prize{
    padding: 50px 0 80px;
  }

  .prize_circle{
    width: 120px;
    height: 120px;
    font-size: 1.3em;
  }

  .prize_title{
    font-size: 1.3em;
    padding: 10px;
  }

  .prize_info{
    font-size: 1.1em;
    padding: 30px 0;
  }

  .w1{
    width: 25%;
    top: 45%;
  }

  .w2{
    width: 30%;
    bottom: -30%;
  }

  .w3{
    top: 85%;
  }

  .w4{
    width: 30%;
    top: 10%;
    right: 0;
  }

  .l1{
    top: 75%;
  }

  .p1{
    top: 80%;
  }

  .p2{
    top: 85%;
  }

  .oil_product{
    margin-bottom: 20px;
  }

  .oil_pd:nth-child(1),
  .oil_pd:nth-child(2)
  {
    width: 40%;
    margin: 20px 0 20px;
  }

  .oil_pd{
    width: 40%;
    margin: 20px 0;
  }

  .oil_pd img{
    width: 90%;
  }

  .oil_name .hightlight{
    padding: 10px 30px;
  }

  .week_product{
    margin-bottom: 0;
  }

  .week_pd{
    width: 40%;
    margin-bottom: 20px;
  }

  .week_btbox li{
    font-size: 1.1em;
    width: 100px;
    margin: 20px;
    padding: 5px 20px;
  }

  .week_pd img{
    width: 70%;
  }

  .o1{
    top: 8%;
  }

  .o2{
    top: 12%;
    left: 8%;
  }

  .o3{
    top: 30%;
  }

  .o4{
    width: 25%;
    top: 15%;
  }

  .o5{
    top: -100%;
    bottom: unset;
  }

  .o6{
    bottom: 0;
  }
}

@media screen and (max-width: 900px) {
  .kv_text{
    top: 10%;
    height: 35%;
  }

  .kv_people1{
    height: 35%;
  }

  .kv_people2{
    height: 38%;
  }

  .kv_product2{
    left: 90%;
    top: 50%;
  }
}

@media (max-width: 720px) {
  .kv_people2{
    height: 35%;
    left: 80%;
  }

  .prize_titlebox{
    padding: 0;
  }

  .prize_circle{
    width: 100px;
    height: 100px;
    font-size: 1.2em;
  }

  .prize_title{
    font-size: 1.2em;
    margin: -10px 0 0;
  }

  .prize_title:before{
    left: 0;
    width: 100%;
  }

  .prize_title:after{
    left: 0;
    width: 100%;
  }

  .prize_circle{
    position: relative;
    left: 0;
    margin: auto;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media screen and (max-width: 646px) {
  .special_br{
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .kv_product1,
  .kv_product2{
    display: none;
  }

  .kv_main{
    width: 100%;
    height: calc(89vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .activity_info{
    font-size: 1em;
    text-align: left;
  }

  .activity_btbox li{
    height: 40px;
    width: unset;
    margin: 10px;
    padding: 5px 20px;
  }


  .oil_pd:nth-child(1),
  .oil_pd:nth-child(2)
  {
    width: 50%;
  }

  .oil_pd img{
    width: 100%;
  }

  .oil_pd{
    width: 50%;
  }

  .week_pd{
    width: 50%;
  }

  .week_pd img{
    width: 60%;
  }

  .week_name .hightlight{
    margin: 20px 5px 5px;
    padding: 5px 10%;
  }

  .w1{
    width: 30%;
    top: 75%;
  }

  .w2{
    width: 40%;
    bottom: -20%
  }

  .w3{
    width: 40%;
    top: 90%;
  }

  .w4{
    top: 20%;
  }

  .p1{
    width: 30%;
    top: 85%;
  }

  .l1{
    width: 25%;
  }

  .p2{
    width: 30%;
    top: 80%;
  }

  .w5{
    width: 45%;
  }

  .w6{
    width: 55%;
  }

  .o1{
    width: 12%;
    top: unset;
    bottom: -25%;
  }

  .o2{
    width: 15%;
    top: unset;
    bottom: -25%;
  }

  .o3{
    width: 15%;
    top: 75%;
    left: 10%;
  }

  .o5{
    width: 12%;
    top: -10%;
    right: 10%;
  }


}


@media screen and (max-width: 460px) {
  .activity{
    padding: 30px 0;
  }

  .activity_btbox li{
    font-size: 1em;
    margin: 10px;
    padding: 5px 10px;
  }

  .oil_name{
    font-size: 14px;
  }

  .oil_name .hightlight{
    padding: 5px 20px;
  }

  .week_btbox li{
    font-size: 1em;
    line-height: 1.2em;
    padding: 5px 10px;
    margin: 10px;
  }

  .week_name{
    font-size: 12px;
  }

  .week_name .hightlight{
    letter-spacing: 0;
    padding: 5px 15px;
  }

  .week_small{
    font-size: 10px;
  }

  .w1{
    top: 90%;
  }

  .w2{
    bottom: -20%
  }

  .w3{
    top: 95%;
  }

  .w4{
    top: 28%;
  }

  .p1{
    top: 90%;
  }

  .o1{
    width: 15%;
    bottom: -32%;
  }

  .o2{
    width: 18%;
    bottom: -30%;
  }

  .o3{
    width: 18%;
    top: 80%;
    left: 8%;
  }

  .o4{
    display: none;
  }

  .o5{
    right: 8%;
  }
  

}




