@charset "UTF-8";
/* CSS Document */

* {margin:0px; padding:0px;}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap');


body, html {position:relative; font-size:16px; font-family:'Noto Sans TC','微軟正黑體','Microsoft Jhenghei',sans-serif; font-weight:300; overflow-x:hidden; background:black;}
a, input, button {text-decoration:none; outline:none !important;}
a:hover, a:focus, a:active {text-decoration:none; cursor:pointer !important; outline:none !important;}
ul, li {list-style:none;}

#layout {position:relative; width:100%; height:100vh; background:url(../images/preview/bg_tp_lt.png),url(../images/preview/bg_tp_rt.png), #fff4a1; background-position:top left, top right; background-repeat:no-repeat; background-size:30% 65%, 30% 45%;}

.logo {display:block; width:120px; height:auto; position:absolute; top:10px; left:10px; z-index:20;}


.kv {display:block; position:relative; width:100%; height:70vh; background:url(../images/preview/main_kv.png) center no-repeat; background-size:contain;}


.preview {display:block; position:relative; width:100%; height:19vh; background:#f6d20a; overflow:visible;}
.preview h1 {display:block; width:90%; position:absolute; top:50%; left:50%; font-size:4.5vh; text-align:center; font-weight:700; color:black; -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);}
    
.btlt, .btrt {display:block; position:absolute; z-index:5;}
.btlt {width:20%; height:auto; bottom:0px; left:0px;}
.btrt {width:33%; height:auto; bottom:0px; right:0px;}


#ft_atten {display:block; position:fixed; bottom:0px; width:100%; height:auto; min-height:11vh; background:black; z-index:10;}
#ft_atten img {display:block; width:100%; height:auto;}
#ft_atten img.mb {display:none;}






@media screen and (max-width:768px) {
	
	#layout {background-size:40%, 40%;}
	
	.logo {width:60px; height:auto; }
	
	.kv {background:url(../images/preview/main_kv_mb.png) center no-repeat; background-size:contain;}
	
	.preview {overflow:hidden;}
	.preview h1 {font-size:6vw; top:40%; z-index:10;}
	
	.btlt {width:20%; height:auto; bottom:-10px; left:0px;}
	.btrt {width:33%; height:auto; bottom:-10px; right:0px;}
	
	#ft_atten img.pc {display:none;}
	#ft_atten img.mb {display:block;}
	
	
	
	
}