@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

.special {
  font-family:'Boogaloo','微軟正黑體','Microsoft Jhenghei',Arial, sans-serif;
}

.main{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url('../images/intro/intro_bg.jpg');
  background-position: bottom;
  background-size: cover;
  margin: 0;
  overflow: hidden;
}

.kv img{
  width: 100vw;
}

.logo{
  width: 130px;
  padding: 11px 30px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 11px 30px;
  z-index: 2; 
}

.intro_text{
	position: absolute;
	top: 10%;
	left: 50%;
	text-align: center;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	opacity: 1;
	z-index: 10;
}

.intro_text_milk{
	position: absolute;
	top: 10%;
	left: 50%;
	text-align: center;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	opacity: 0;
	z-index: 9;
}

.intro_talk{
	position: relative;
	font-size: 1.5em;
	font-weight: 500;
	border-radius: 25px;
	padding: 10px 30px;
	background-color: #ffffff;
}


.intro_talk:after{
	content: url('../images/intro/talk.png');
	position: absolute;
	bottom: -30px;
	left: 30px;
}

.intro_in{
	font-size: 1.5em;
	font-weight: 500;
	margin: 20px 0;
}

.intro_in span{
	font-size: 1.3rem;
}

.intro_bt{
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro_bt li{
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 600;
  color: #7c590d;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  margin: 0 20px;
}

.intro_bt li:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #ffffff;
  z-index: -1;
}

.intro_bt li:after{
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #bf9b11;
  z-index: -2;
}

.songbeer{
	width: 23%;
	position: absolute;
	bottom: 15%;
	left: 50%;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	opacity: 1;
  z-index: 1;
}

.milk{
	width: 23%;
	position: absolute;
	bottom: 15%;
	left: 50%;
	-moz-transform: translateX(-50%) scale(0.5);
	-ms-transform: translateX(-50%) scale(0.5);
	-webkit-transform: translateX(-50%) scale(0.5);
	transform: translateX(-50%) scale(0.5);
	opacity: 0;
  z-index: 1;
}

.songbeer img,
.milk img{
	width: 100%;
}

.intro_left{
  position: absolute;
  top: 40%;
  left: 5%;
  width: 25%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 0;
}

.intro_right{
  position: absolute;
  top: 40%;
  right: 5%;
  width: 25%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 0;
}


/* --- animation ---*/

.intro_text {
  opacity: 1;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.intro_text.show {
  opacity: 0;
  pointer-events: none;
}


.intro_text_milk {
  opacity: 0;
  -moz-transition: opacity 0.8s 0.3s;
  -o-transition: opacity 0.8s 0.3s;
  -webkit-transition: opacity 0.8s 0.3s;
  transition: opacity 0.8s 0.3s;
}

.intro_text_milk.show {
  opacity: 1;
}

.songbeer {
  opacity: 1;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.songbeer.show {
  opacity: 0;
}


.milk {
  opacity: 0;
  pointer-events: none;
  -moz-transition: opacity 1s, -moz-transform 0.8s;
  -o-transition: opacity 1s, -o-transform 0.8s;
  -webkit-transition: opacity 1s, -webkit-transform 0.8s;
  transition: opacity 1s, transform 0.8s;
}

.milk.show {
  opacity: 1;
  -moz-transform: translateX(-50%) scale(1);
	-ms-transform: translateX(-50%) scale(1);
	-webkit-transform: translateX(-50%) scale(1);
	transform: translateX(-50%) scale(1);
}



/* --- mobile --- */
@media screen and (max-width: 1100px) {
  .logo{ 
    width: 100px;
    padding: 8px 20px;
  }

	.songbeer,
	.milk{
		width: 30%;
	}

  .intro_left,
  .intro_right{
    width: 30%;
  }

}

@media screen and (max-width: 900px) {
  .songbeer,
  .milk{
    width: 40%;
  }

  .intro_bt li{
    font-size: 1.1em;
    padding: 5px 20px;
  }

}


@media (max-width: 768px) {

}

@media screen and (max-width: 823px) and (max-height: 450px) {
  .main{
    height: calc(100vw * 5 /4);
  }
}



@media screen and (max-width: 640px) {
  .songbeer,
  .milk{
    width: 50%;
  }

  .intro_talk,
  .intro_in{
    font-size: 1.2em;
  }

  .intro_talk{
    padding: 10px;
  }

  .intro_talk:after{
    bottom: -20px;
  }

  .intro_bt li{
    margin: 0 10px;
  }

  .intro_left,
  .intro_right{
    width: 40%;
    top: unset;
    bottom: 20%;
  }
}


@media screen and (max-width: 460px) {
  .intro_talk,
  .intro_in{
    font-size: 1em;
  }



  .intro_text{
    top: 12%;
  }

  .intro_bt li{
    font-size: 1em;
    padding: 5px 10px;
  }

  .intro_left,
  .intro_right{
    bottom: 10%;
  }
}

@media screen and (min-width: 1100px) and (max-height: 720px) {
  .songbeer,
  .milk{
    width: 35vh;
  }

}






