.main{
  position: relative;
  min-height: calc(90vh - 80px);
  min-width: 100vw;
}

.login_left{
  position: absolute;
  top: 40%;
  left: 5%;
  width: 25%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}

.login_right{
  position: absolute;
  top: 40%;
  right: 5%;
  width: 25%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}

/*----------login_01----------*/

.page_text{
  font-size: 1.5em;
  font-weight: 600;
  color: #7c590d;
  text-align: center;
  padding: 80px 0 50px;
}

.login{
  padding-bottom: 100px;
}


.login_btbox a{
  display: block;
  width: 200px;
  margin: auto;
}

.login_btbox button{
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 600;
  color: #7c590d;
  text-align: center;
  width: 200px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0);
  border: none;
  margin: 0 auto 30px;
}

.login_btbox button:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #ffffff;
  z-index: -1;
}

.login_btbox button:after{
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #bf9b11;
  z-index: -2;
}

.login_btbox img{
  width: 50px;
  margin-right: 10px;
}

.login_btbox span{
  width: 102px;
  text-align: center;
}

.login_other{
  font-size: 12px;
  font-weight: 500;
  color: #7c590d;
  position: fixed;
  left: 50%;
  bottom: calc(11vh + 15px);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 20;
}


/*----------login_02----------*/

.login_icheck{
  width: 400px;
  margin: auto;
  padding: 50px 0 10px;
}

.login_icheck img{
  width: 100%;
  margin: auto;
}

.login_checktext{
  font-size: 1.3em;
  font-weight: 600;
  color: #7c590d;
  text-align: center;
  margin-bottom: 20px;
}

.login_in{
  max-width: 300px;
  position: relative;
  margin: 0 auto 50px;
  position: relative;
  z-index: 1;
}

.login_check{
  position: absolute;
  top: 2px;
  left: -25px;
}

.login_notice{
  font-weight: 500;
  text-decoration: underline;
}

.login_in span{
  color: #7c590d;
  max-width: 300px;
}


/*----------login03----------*/

.login_iscan{
  width: 120px;
  margin: auto;
  padding: 80px 0 30px;
}

.login_iscan img{
  width: 100%;
  margin: auto;
}

.login_scantext{
  font-size: 1.5em;
  font-weight: 600;
  color: #7c590d;
  text-align: center;
}

.login_scan{
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #7c590d;
  margin: 50px auto 0;
}

.login_scan_lt{
  position: absolute;
  top: -15px;
  left: -15px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border-left: 5px solid #f5cb07;
  border-top: 5px solid #f5cb07;
}

.login_scan_rt{
  position: absolute;
  top: -15px;
  right: -15px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border-right: 5px solid #f5cb07;
  border-top: 5px solid #f5cb07;
}

.login_scan_lb{
  position: absolute;
  bottom: -15px;
  left: -15px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border-left: 5px solid #f5cb07;
  border-bottom: 5px solid #f5cb07;
}

.login_scan_rb{
  position: absolute;
  right: -15px;
  bottom: -15px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border-right: 5px solid #f5cb07;
  border-bottom: 5px solid #f5cb07;
}

/*----------login04----------*/

.login_iwrong{
  width: 120px;
  margin: auto;
  padding: 80px 0 30px;
}

.login_iwrong img{
  width: 100%;
  margin: auto;
}

.login_wrongtext{
  font-size: 1.5em;
  font-weight: 600;
  color: #7c590d;
  text-align: center;
  margin-bottom: 50px;
}

.login_wrongin{
  font-weight: 500;
  font-size: 1.2em;
  text-align: center;
  margin: 50px 0 20px;
}

/* --- login5 --- */
.login_formbox{
  width: 90%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px 20px 10px 20px;
  margin: 0 auto 30px;
}

.form_list{
  margin-bottom: 15px;
}

label{
  width: 150px;
  font-weight: 500;
  float: left;
}

.login_input{
  width: calc(100% - 150px);
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #666666;
  background-color: rgba(0,0,0,0);
  padding: 5px 0;
}

.red{
  color: red;
}

.login5_box{
  width: 90%;
  max-width: 400px;
  margin: 30px auto 50px;
}

.login5_info{
  font-size: 14px;
  color: #7c590d;
  font-weight: 500;
  text-align: center;
  margin-top: 0px;
}

/* --- other --- */
.o1{
  width: 15%;
  bottom: 10%;
  left: 20%;
}

.o2{
  width: 20%;
  bottom: 10%;
  right: 15%;
}

.o3{
  width: 25%;
  bottom: 10%;
  left: 15%;
}

.o4{
  width: 24%;
  bottom: 10%;
  right: 12%;
}

.o5{
  width: 25%;
  bottom: 10%;
  left: 15%;
}

.o6{
  width: 24%;
  bottom: 10%;
  right: 12%;
}

.o8{
  width: 15%;
  bottom: 10%;
  left: 12%;
}

.o7{
  width: 20%;
  bottom: 10%;
  right: 10%;
}

/* --- mobile --- */
@media screen and (max-width: 1100px) {
  .main{
    position: relative;
    min-height: calc(90vh - 60px);
  }

  .login_left,
  .login_right{
    width: 30%;
  }

}

@media screen and (max-width: 1000px) {
  .page_text{
    font-size: 1.3em;
    padding: 50px 0 20px;
  }

  .login_btbox li{
    font-size: 1.1em;
    margin: 20px auto;
    padding: 5px 20px;
  }

  .login_scantext,
  .login_wrongtext{
    font-size: 1.3em;
  }

  .o1{
    width: 20%;
    left: 10%;
  }
  
  .o2{
    width: 25%;
    right: 8%;
  }

  .o3{
    width: 30%;
    left: 10%;
  }
  
  .o4{
    width: 28%;
    right: 8%;
  }

  .o5{
    width: 30%;
    left: 10%;
  }
  
  .o6{
    width: 28%;
    right: 8%;
  }

  .o8{
    width: 18%;
  }
  
  .o7{
    width: 25%;
    right: 5%;
  }

}

@media screen and (max-width: 720px) {
  .login_icheck,
  .login_iwrong{
    width: 80px;
  }

  .login_icheck{
    width: 320px;
  }
}


@media screen and (max-width: 640px) {
  .o1,
  .o3,
  .o4,
  .o5
  {
    display: none;
  }

  .o2{
    width: 38%;
    right: 30%;
    bottom: 10%;
  }

  .o6{
    width: 30%;
    right: 10%;
    bottom: 5%;
    z-index: 5;
  }

  .o7,.o8{
    z-index: 5;
  }

  .login_left,
  .login_right{
    width: 40%;
    top: unset;
    bottom: -15%;
  }
}

@media screen and (max-width: 460px) {

  .login_btbox li{
    font-size: 1em;
    padding: 0;
  }

  .login_btbox img{
    width: 40px;
    margin-left: 5px;
  }

  .login_in{
    width: 80%;
    margin-left: 50px;
  }

  .login_scan{
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
  }

  .login_wrongin{
    font-size: 1.1em;
  }

  .o2{
    width: 30%;
    right: 30%;
    top: 280px;
    bottom: unset;
  }

  .o8{
    display: none;
  }

  .o7{
    width: 30%;
    right: 30%;
    bottom: 5%;
  }
}

@media screen and (max-width: 380px) {
  .o2{
    display: none;
  }

  .ox{
    width: 30%;
    right: 30%;
    bottom: 8%;
  }

  .o7{
    width: 25%;
    right: 35%;
    bottom: 2%;
  }
}


