
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap');

body {
  font-family:'Noto Sans TC','微軟正黑體','Microsoft Jhenghei',Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.05em;
  background-color: #ffeb9d;
}

a { text-decoration: none; color: #000;}

.fancybox-content {background:#FFEB9D !important; width:100% !important; max-width:1000px !important;}

.wrapper{
  overflow: hidden;
}

.bbr { display: none; }

.main{
  margin: 80px 0 11vh;
}

.inner{
  width: 95%;
  max-width: 1100px;
  margin: auto;
}

.title{
  position: relative;
}

.title_t{
  position: relative;
  color: #7c590d;
  font-size: 1.6em;
  text-align: center;
  font-weight: 600;
  padding: 50px 0;
  z-index: 2;
}

.title_bg{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  margin: auto;
  z-index: 1;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.title_bg img{
  width: 100%;
}


.header{
  width: 100vw;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 5px 5px #ba8000;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
}

.header .logo{
  width: 130px;
  padding: 11px 30px; 
}

.nav{
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.nav li {
  display: inline;
  cursor: pointer;
  color: #7c590d;
  font-size: 20px;
  vertical-align: middle;
  box-sizing: border-box;
  margin-left: 20px;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; 
}

.burger{ 
  display: none;
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
  padding: 0 5px;
}

.burger .line{
  width: 30px;
  height: 3px;
  background-color: #7c590d;
  margin: 8px 0;
}

.footer{
  width: 100vw;
  min-height: 11vh;
  background-color: #000000;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 50;
}

.footer img{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.warn_mb{
  display: none;
  max-height: 11vh;
}

.scroll_top{
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 20%;
  width: 60px;
  height: 60px;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  background-color: #000000;
  z-index: 9;
}

.scroll_top span{
  display: inline-block;
  padding: 16px 0;
}

/*----------4wave----------*/

.fwave{
  position: absolute;
}

.fwave img{
  width: 100%;
}

.fw1{
  width: 25%;
  top: 0;
  left: 0;
}

.fw2{
  width: 20%;
  top: 0;
  right: 0;
}


.fw3{
  width: 20%;
  bottom: 0;
  left: 0;
}

.fw4{
  width: 20%;
  bottom: 0;
  right: 0;
}

.other{
  position: absolute;
}

.other img{
  width: 100%;
}





/* --- animation ---*/
.ms {
  opacity: 0;
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -moz-transition: -moz-transform 0.3s, opacity 0.5s;
  -o-transition: -o-transform 0.3s, opacity 0.5s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.5s;
  transition: transform 0.3s, opacity 0.5s;
}

.ms.show {
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.mp {
  opacity: 0;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.mp.show {
  opacity: 1;
}

.mt {
  opacity: 0;
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -moz-transition: -moz-transform 0.3s, opacity 0.5s;
  -o-transition: -o-transform 0.3s, opacity 0.50s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.5s;
  transition: transform 0.3s, opacity 0.5s;
}

.mt.show {
  opacity: 1;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.mb {
  opacity: 0;
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -moz-transition: -moz-transform 0.3s, opacity 0.5s;
  -o-transition: -o-transform 0.3s, opacity 0.5s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.5s;
  transition: transform 0.3s, opacity 0.5s;
}

.mb.show {
  opacity: 1;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.ml {
  opacity: 0;
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  -moz-transition: -moz-transform 0.3s, opacity 0.5s;
  -o-transition: -o-transform 0.3s, opacity 0.5s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.5s;
  transition: transform 0.3s, opacity 0.50s;
}

.ml.show {
  opacity: 1;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.mr {
  opacity: 0;
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  -moz-transition: -moz-transform 0.3s, opacity 0.5s;
  -o-transition: -o-transform 0.3s, opacity 0.5s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.5s;
  transition: transform 0.3s, opacity 0.5s;
}

.mr.show {
  opacity: 1;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f5cb07;
  z-index: 999;
}

.loading {
  width: 150px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading img {
  width: 100%;
  padding-bottom: 10px;
}

.loading_line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin: 0 3px;
  background-color: #ffffff;
}

.loading_dot {
  position: absolute;
  top: calc(50% - 80px);
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading_dot .loading_line:nth-last-child(1) {
  animation: lda 0.6s 0.1s linear infinite;
}
.loading_dot .loading_line:nth-last-child(2) {
  animation: lda 0.6s 0.2s linear infinite;
}
.loading_dot .loading_line:nth-last-child(3) {
  animation: lda 0.6s 0.3s linear infinite;
}

@keyframes lda {
  0% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -moz-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }

  100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}






/* --- mobile --- */
@media screen and (max-width: 1100px) {

  .warn_pc{
    display: none;
  }

  .warn_mb{
    display: block;
  }

  .scroll_top{
    right: 10px;
    bottom: 13vh;
  }

  .main{
    margin: 60px 0 11vh;
  }

  .header{
    height: 60px;
    -moz-transition: height 0.3s 0.3s;
    -o-transition: height 0.3s 0.3s;
    -webkit-transition: height 0.3s 0.3s;
    transition: height 0.3s 0.3s; 
  }

  .header .logo{
    width: 100px;
    padding: 8px 20px;
  }

  /* - header - */
  .nav {
    opacity: 0;
    pointer-events: none;
    right: 0; width: 100%;
    text-align: center; top: 70px;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(-0);
    -webkit-transform: translateY(0);
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; 
  }

  .nav ul{
    border-top: 1px solid #f5cb07;
  }

  .nav li{
    display: block;
    font-weight: 500;
    padding: 4vh 0;
    margin: 2px 0;
  }

  /* --- header - animation --- */
  .header.show {
    height: 100vh;
    -moz-transition: height 0.3s;
    -o-transition: height 0.3s;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
  }

  .header.show .nav { 
    opacity: 1;
    pointer-events: auto;
    -moz-transition: opacity 0.3s 0.2s;
    -o-transition: opacity 0.3s 0.2s;
    -webkit-transition: opacity 0.3s 0.2s;
    transition: opacity 0.3s 0.2s;
  }

  .burger{ 
    display: block;
  }

  .br_pc{
    display: none;
  }

}


@media screen and (max-width: 1000px) {
  .title_t{
    font-size: 1.3em;
    padding: 30px 0;
  }

  .title_bg{
    width: 400px;
  }
}


@media screen and (max-width: 640px) {
  .fancybox-content {padding: 20px !important;}

  .fw1{
    width: 35%;
    z-index: -1;
  }

  .fw2{
    width: 35%;
    z-index: -1;
  }


  .fw3{
    width: 40%;
    z-index: 0;
  }

  .fw4{
    width: 45%;
    z-index: 0;
  }

  .nav li{
    font-size: 16px;
    padding: 3vh;
  }

}


@media screen and (max-width: 460px) {
  .title_t{
    font-size: 1.2em;
  }

  .title_bg{
    width: 350px;
  }
  
}




